<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebChat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div id="left">
        <div id="header">
            <img id="user_icon" src="{% static 'images/timg.jpeg' %}" alt="">
            <span id="user_name">{{request.session.user.name}}</span>
            <span id="setting">设置</span>
            <!--<button id="setting">设置</button>-->
            <!--<ul>-->
                <!--<li>-->
                    <!--设置-->
                    <!--<ol>-->
                        <!--<li>修改头像</li>-->
                        <!--<li>修改昵称</li>-->
                        <!--<li>修改字体</li>-->
                        <!--<li>意见反馈</li>-->
                        <!--<li>退出程序</li>-->
                    <!--</ol>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
        <div id="dropdown_set">
            <p class="set_item">个人信息</p>
            <p class="set_item">界面设置</p>
            <p class="set_item">意见反馈</p>
            <p class="set_item">退出登陆</p>
        </div>
        <div id="weather">
            <div id="address">
                <ul>
                    <li>
                        深圳
                        <ol>
                            <li>北京</li>
                            <li>上海</li>
                            <li>广州</li>
                            <li>深圳</li>
                            <li>武汉</li>
                            <li>郑州</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <img src="" alt=""><!--待添加天气图片-->
            <span>温度</span>
        </div>
        <div id="search_box">
            <a href="#">邮箱</a>
            <span>
                <input id="search" type="text">
                <label for="search">添加</label>
            </span>
        </div>
        <div data-target="#list_chat" id="chatlist" class="table_item">聊天列表</div>
        <div data-target="#list_news" id="news" class="table_item">资讯</div>
        <div data-target="#list_friend" id="friendlist" class="table_item">好友列表</div>
        <div id="list_chat">
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
        </div>
        <div id="list_news">
            <div class="news_item">新闻</div>
        </div>
        <div id="list_friend">
            <div class="friend_item">好友</div>
        </div>
    </div>
    <div id="right_blank">
        <h1>待发起聊天</h1>
    </div>
    <div id="right">
        <div id="right_hd">
            <div id="chat_title">Friend_name</div>
        </div>
        <div id="right_bd"></div>
        <div id="right_ft">
            <div id="chat_tool">
                <img src="" alt=""><!--待添加'表情'图片-->
                <img src="" alt=""><!--待添加'文件'图片-->
                <!--<input type="file">-->
                <img src="" alt=""><!--待添加'待定'图片-->
            </div>
            <textarea name="" id="chat_input" cols="30" rows="10"></textarea>
            <div id="chat_btn">
                <span>按下Enter换行</span>
                <button>发送</button>
            </div>
    </div>

    </div>
    <div id="right_news">
        <h1>新闻</h1>
    </div>
    <div id="right_friend">
        <h1>好友信息</h1>
    </div>
</body>
</html>