{% extends 'index.html' %}
{% load static %}
{% block block_card %}
<div class="signheader">
    <img src="{% static 'images/timg.jpeg' %}" alt="">
    <h1>Welcome to WebChat</h1>
    <h3>Create your account .</h3>
</div>
<div class="login-content">
    <form action="/verify/signup" method="post">
        <p>Your Name</p><input type="text" name="name" id="name">
        <p>Password</p> <input type="password" name="password" id="password">
        <br>
        <p>Password Agin</p> <input type="password" name="password" id="password">
        <input type="submit" value="Create">
        <p class="register">Already have an account? <a href="index" class="signup">Sign in</a> </p>
    </form>
</div>
{% endblock block_card %}