#card{
    width: 500px;
    height: 450px;
    /* background: wheat; */
    margin: 100px auto;
    padding: 20px auto;
    text-align: center;
}
.signheader{
    height: 250px;
}
.signheader img{
    width: 150px;
    margin-bottom: 10px;
}
.signheader h3{
    color: #999999;
}
.login-content{
    width: 400px;
    margin: 0 auto;
    text-align: left;
    line-height: 30px;
}
.login-content input{
    width: 400px;
    border-style: none;
    border-bottom: 2px solid #999999;
    
}

.login-content #name:focus,.login-content #password:focus{
    border-bottom: 2px solid #ff0035
}


.login-content span{
    display: block;
    background: #ff0035;
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    box-shadow: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px auto;
}
.login-content .register{
    text-align: center;
}
.signup{
    color: #ff0035;
}