/*左侧控制面板*/
#left{
    width:280px;height:100%
    position:relative;
    float:left;
    background:#4a6372;
    margin:60px 0 0 190px;
    /*margin-left:190px;*/
}
/*头部区域*/
#header{
    height:50px;
    position:relative;
}
#user_icon{
    width:40px;height:40px;
    margin-top:5px;
    margin-left:5px;
}
#header #user_name{
    position:absolute;
    width:156px;height:30px;
    margin-top:10px;
    margin-left:10px;
    font-size:18px;
    line-height:30px;
}
#setting{
    width:50px;
    float:right;
    font-size:18px;
    margin-top:12px;
    margin-right:15px;
}
#setting:hover,
#address:hover{
    cursor:pointer;
}
#dropdown_set{
    display:none;
    position:absolute;
    z-index:10;
    background:white;
    top:120px;left:275px;
}
.set_item{
    width:178px;height:50px;
    text-align:center;
    line-height:50px;
}
.set_item a{
    font-size:14px;
    color:#000;
}
.set_item:hover{
    background:grey;
}
/*#header ul{
    float:right;
    font-size:18px;
    margin-top:30px;
    margin-right:15px;
}

ol{
    display:none;
}
ul>li:hover ol{
    display:block;
}
ol>li:hover{
    background:white;
}*/
/*天气区域*/
#weather{
    width:244px;height:28px;
    margin:0 auto;
    position:relative;
}
#address{
    position:absolute;
    width:36px;
    font-size:16px;
}

#address ol{
    display:none;
    position:absolute;
    z-index:10;
    background:white;
    top:23px;left:4px;
}

#address ol li:hover{
    background:grey;
}
#weather #s01{
    position:absolute;
    left:44px;
    width:155px;height:28px;
    background:grey;
}
#weather #s02{
    position:absolute;
    right:0;
    font-size:16px;
}
/*搜索框*/
#search_box{
    width:280px;height:30px;
    line-height:16px;
    font-size:16px;
}
#search_box>a{
    position:absolute;
    margin:7px 10px;
}
#search_box>span{
    position:absolute;
    margin-left:55px;
    margin-top:7px;
}
/*内容选择区域*/
.table_item{
    width:81px;
    float:left;
    font-size:16px;
    text-align:center;
}
.table_item:hover{
    background:grey;
}
#chatlist{
    margin-left:15px;
}
/*列表显示区域*/
#list_chat,#list_news,#list_friend{
    width:280px;
    height:564px;
    margin-top:24px;
    border-top:1px solid grey;
    position:absolute;
    background:#4a6372;
    overflow-y:auto;
}
/*滚动条样式*/
#list_chat::-webkit-scrollbar,
#list_news::-webkit-scrollbar,
#list_friend::-webkit-scrollbar{
     width:4px;
}
#list_chat::-webkit-scrollbar-thumb,
#list_news::-webkit-scrollbar-thumb,
#list_friend::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
    background:rgba(0,0,0,0.2);
}
#list_chat::-webkit-scrollbar-track,
#list_news::-webkit-scrollbar-track,
#list_friend::-webkit-scrollbar-track{
     -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
     border-radius:0;
     background:rgba(0,0,0,0.1);
}


/**/
#list_news,#list_friend{
    display:none;
}
.chat_item,.news_item,{
    height:64px;
    position:relative;
    border-bottom:1px solid grey;
}
/*chat_item内部样式*/
.chat_item img{
    width:40px;height:40px;
    position:absolute;
    top:12px;left:12px;
}
.chat_item span{
    height:16px;
    font-size:13px;
    position:absolute;
    line-height:13px;
}
.chat_item .f_name{
    width:150px;
    top:12px;left:67px;
}
.chat_item .info{
    width:180px;
    top:32px;left:67px;
}
.chat_item .time{
    width:45px;
    top:12px;right:12px;
}
/*news_item内部样式*/
.news_item a{
    position:absolute;
    top:12px;left:20px;
}
.news_item a div{
    width:194px;height:40px;
    background:pink;
    position:absolute:
}
.news_item img{
    width:40px;height:40px;
    position:absolute;
    top:12px;right:15px;
}

/*.friend_item内部样式*/
.friend_item h3{
    height:24px;

    border-bottom:1px solid grey;
}
.contact_item{
    position:relative;
    height:50px;
    border-bottom:1px solid grey;
}
.contact_item img{
   width:30px;height:30px;
    position:absolute;
    top:10px;left:20px;
}

.contact_item h4{
    position:absolute;
    width:204px;height:30px;
    background:skyblue;
    top:10px;right:15px;
}

/*right区域*/
#right_blank,#right,#right_news,#right_friend{
    width:720px;height:697px;;
    background:#bbb;
    position:absolute;
    margin-left:470px;
    margin-top:60px;
}
#right,#right_news,#right_friend{
    display:none;
}
#right #right_hd{
    width:720px;height:51px;
}
#right_hd #chat_title{
    width:682px;height:30px;
    margin:0 19px;
    padding:10px 0;
    border-bottom:1px solid grey;
    text-align:center;
    line-height:30px;
}
#right #right_bd{
    width:682px;height:410px;
    padding:0 19px;
    /*background:skyblue;*/
    border-bottom:1px solid grey;
}
#chat_tool{
    width:682px;height:30px;
    padding:5px 19px;
    /*background:green;*/
}
#chat_input{
    position:absolute;
    width:682px;height:120px;
    margin-left:17px;
    line-height:30px;
}

#chat_btn{
    width:200px;height:30px;
    position:absolute;
    bottom:20px;
    right:17px;
}