/*清除浏览器默认样式,设置基础样式*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin:0;
    padding:0;
    list-style:none;
}
body{
    font:12px "微软雅黑","黑体";
    color:#9a9a9a;
    background:#f1f3f4;
    position:relative;
}
a{
    text-decoration:none;
    color:#9a9a9a
}
input,textarea:focus{
    outline:none;
}
textarea{
    resize:none;
    padding:0;
}
/*设置外层容器的样式*/
#container{
    width:1000px;
    margin:0 auto;
}