/* 清除浏览器默认样式，设置基础样式 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: 12px;
    color: black;
}

a {
    text-decoration: none;

}

input:focus {
    outline: none;
}

/* 设置外层容器样式 */

#container {
    width: 100%;
    margin: 0 auto;
}