{% extends 'personal_set.html' %}
{% block title %}
Change Password
{% endblock title %}

{% block li %}

<li> <a href="personal_set">Public profile</a></li>
<li id="self"><a href='change_password'>Password change</a></li>
<li><a href='inter_layout'>Interface layout</a></li>
<li><a href='feedback'>Feedback</a></li>
{% endblock li %}

{% block bt %}
Password Change
{% endblock bt %}

{% block centent %}
<table id="pwd_table">
    <tr>
        <td>Please enter the old password：</td>
        <td><input type="password" id="old_password"></td>
    </tr>
    <tr>
        <td>Please enter a new password：</td>
        <td><input type="password" id="password1"></td>
    </tr>
    <tr>
        <td>Please enter the new password again：</td>
        <td><input type="password" id="password2"></td>
    </tr>
</table>
<button id='pwd_btn'>Submit</button>

{% endblock centent %}