<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎来到WebChat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/entrance.css' %}">
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'js/entrance.js' %}"></script>
</head>

<body>
    <div id="container">
        <div id="card">
            {% block block_card %}

            <div class="signheader">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <h1>Welcome to WebChat</h1>
                <h3>Sign in by entering the information below.</h3>
            </div>
            <div class="login-content">
                <form action="/verify/signin" method="POST">

                    <label for="name">Your Name</label><span>{{ name_error }}</span>
                    <input type="text" name="username" id="name" value="{{username}}">
                    <br>
                    <!--TODO 界面结构控制-->
                    <label for="password">Password</label><span>{{ password_error }}</span>
                    <input type="password" name="password" id="password" value="{{ password }}">

                    <br>
                    <div class="rem">
                        <input type="checkbox" name="remember" id="remember" value="1">
                        <label for="remember">Remember the name</label>
                    </div>
                    <div class="forget">
                        <a href="/verify/forget"><b>Forget your password？</b> </a>
                    </div>
                    <!--TODO 忘记密码操作-->
                    <div id="submitter">
                        <input type="submit" value="Login" class="login_submit">
                        <p class="register">Don't have an account ? <a href="/verify/signup" class="signup"> <b>Sign
                                    up</b></a></p>
                    </div>
                </form>
            </div>
            {% endblock block_card %}
        </div>
    </div>
</body>