<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>欢迎来到WebChat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/entrance.css' %}">
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'js/entrance.js' %}"></script>
</head>

<body>
    <div id="container">
        <div id="card">
            {% block block_card %}

            <div class="signheader">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <h1>Welcome to WebChat</h1>
                <h3>Sign in by entering the information below.</h3>
            </div>
            <div class="login-content">
                <form action="login" method="POST">
                    <label for="username">Your Account</label>
                    <input type="text" name="username" id="username" value="{{ username }}">
                    <span>{{ name_error }}</span><br>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password"
                        value="{{ password }}">
                    <span>{{ password_error }}</span>
                    <br>
                    <div class="rem">
                        <input type="checkbox" name="remember" id="remember" value="1">
                        <label for="remember">Remember the name</label>
                    </div>
                    
                    <input type="submit" value="Login" class="login_submit">
                    <p class="register">Don't have an account ? <a href="signup" class="signup"> Sign up</a> </p>
                </form>
            </div>
            {% endblock block_card %}
        </div>
    </div>
</body>