<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebChat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/websocket.js' %}"></script>
</head>
<body>
    <div id="left">
        <div id="header">
            <img id="user_icon" src="{% static 'images/timg.jpeg' %}" alt="">
            <span id="user_name">{{request.session.user.name}}</span>
            <span id="setting">设置</span>
        </div>
        <div id="dropdown_set">
            <p class="set_item">
                <a target="_blank" href="/chat/personal_set#01">个人信息</a>
            </p>
            <p class="set_item">
                <a target="_blank" href="/chat/personal_set#02">界面设置</a>
            </p>
            <p class="set_item">
                <a target="_blank" href="/chat/personal_set#03">意见反馈</a>
            </p>
            <p class="set_item">
                <a href="">退出登陆</a>
            </p>
        </div>
        <div id="weather">
            <div id="address">
                <ul>
                    <li>
                        <span>深圳</span>
                        <ol>
                            <li>北京</li>
                            <li>上海</li>
                            <li>广州</li>
                            <li>深圳</li>
                            <li>武汉</li>
                            <li>郑州</li>
                            <li>合肥</li>
                            <li>长沙</li>
                            <li>南京</li>
                            <li>杭州</li>
                            <li>青岛</li>
                            <li>太原</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <span id="s01">{{weather.0}}</span><!--待添加天气图片-->
            <span id="s02">{{weather.1}}</span>
        </div>
        <div id="search_box">
            <a target="_blank" href="{{email_link}}">邮箱</a>
            <span>
                <input id="search" type="text">
                <button id="add_friend">添加</button>
            </span>
        </div>
        <div data-target="#list_chat" id="chatlist" class="table_item">聊天列表</div>
        <div data-target="#list_news" id="news" class="table_item">资讯</div>
        <div data-target="#list_friend" id="friendlist" class="table_item">好友列表</div>
        <div id="list_chat">
            {# for ... #}
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称1</span>
                <span class="info">信息1</span>
                <span class="time">时间1</span>
            </div>
            {# endfor #}
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称2</span>
                <span class="info">信息2</span>
                <span class="time">时间2</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
            <div class="chat_item">
                <img src="{% static 'images/timg.jpeg' %}" alt="">
                <span class="f_name">好友名称</span>
                <span class="info">信息</span>
                <span class="time">时间</span>
            </div>
        </div>
        <div id="list_news">
            {% for news in news_list %}
            <div  class="news_item">
                <a target="_blank" href="{{news.1}}"><div>{{news.2}}</div></a>
                <img src="{{news.0}}" alt="">
            </div>
            <!--<div style="background:green;" class="news_item">-->
                <!--<a href="#"><div>新闻title</div></a>-->
                <!--<img src="{% static 'images/timg.jpeg' %}" alt="">-->
            <!--</div>-->
            {% endfor %}
        </div>
        <div id="list_friend">
            <div class="friend_item">
                <h3>A</h3>
                <div class="contact_item">
                    <img src="{% static 'images/timg.jpeg' %}" alt="">
                    <h4>好友昵称</h4>
                </div>
            </div>
        </div>
    </div>
    <div id="right_blank">
        <h1>待发起聊天</h1>
    </div>
    <div id="right">
        <div id="right_hd">
            <div id="chat_title">Friend_name</div>
        </div>
        <div id="right_bd"></div>
        <div id="right_ft">
            <div id="chat_tool">
                <img src="" alt=""><!--待添加'表情'图片-->
                <img src="" alt=""><!--待添加'文件'图片-->
                <!--<input type="file">-->
                <img src="" alt=""><!--待添加'待定'图片-->
            </div>
            <textarea id="chat_input"></textarea>
            <div id="chat_btn">
                <span>按下Enter换行</span>
                <button id="send_info">发送</button>
            </div>
        </div>

    </div>
    <!--<div id="right_news">-->
        <!--<h1>新闻</h1>-->
    <!--</div>-->
    <div id="right_friend">
        <div id="right_friend_hd">
            <div id="right_friend_title">详细信息</div>
        </div>
    </div>
</body>
</html>