{% extends 'login.html' %}
{% load static %}
{% block block_card %}
<div class="signheader">
    <img src="{% static 'images/timg.jpeg' %}" alt="">
    <h1>Change password for </h1>
    <h4>{{ username }}</h4>
</div>
<div class="login-content">
    <form action="/verify/pwd_reset2" method="POST">
        {% csrf_token %}
        <label for="password">Password</label><span>{{ password_error }}</span>
        <input type="password" name="password" id="password">
        <br>
        <label for="password2"> Confirm password</label><span>{{ password_error }}</span>
        <input type="password" name="password2" id="password2">
        <input type="submit" value=" Change Password" class="change_submit">
    </form>
</div>
{% endblock block_card %}