{% extends 'login.html' %}
{% load static %}
{% block block_card %}
<div class="signheader">
    <img src="{% static 'images/timg.jpeg' %}" alt="">
    <h1>Reset your password</h1>
    <h4>Enter your Phone number and click to get code,we will send you a link to reset your password.
    </h4>
</div>
<div class="login-content">
    <form action="/verify/pwd_reset" method="POST">
        {% csrf_token %}
        <!-- 手机号码 -->
        <label for="cell_verify">Phone Number</label><span>{{ code_error }}</span>
        <input type="text" name="cell_verify" id="cell_verify">
        <input type="button" value="Get code" id="get_code" name="get_code">
        <!--添加输入验证码文本框-->
        <label for="veri_code">Verification code</label><span>{{ veri_error }}</span>
        <input type="text" id="veri_code" name="veri_code">
        <input type="submit" value=" Reset Password" class="reset_submit">
    </form>
<script>
    $(function(){
        $("#get_code").click(function(){
                console.log("点击")
                $.ajax({
                    url:"/verify/get_code",
                    type:"get",
                    data:{"phone_number":$("#cell_verify").val()},
                    dataType:"text",
                    async:true,
                    success:function(resText){
                        console.log(resText)

                    }
                })
            })
    })
</script>
</div>
{% endblock block_card %}