<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Personal settings{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/personal_set.css' %}">
    <script src="../static/js/jquery-1.11.3.js"></script>
    <script src="../static/js/common.js"></script>
    <script src="../static/js/personal_set.js"></script>
    <script src="../static/js/address.js"></script>
    <script src="../static/js/laydate/laydate.js"></script>

</head>

<body>
    <div id="bg">
        <img src="../static/images/c.jpg" alt="">
    </div>
    <div id="setBody">
        <!-- <h1 id="01">Personal settings</h1> -->
        <div id="info">
            <div id="float-left">
                <ul>
                    {% block li %}

                    <li id="self"> <a href="personal_set">Public profile</a></li>
                    <li><a href='change_password'>Password change</a></li>
                    <li><a href='inter_layout'>Interface layout</a></li>
                    <li><a href='feedback'>Feedback</a></li>
                    {% endblock li %}
                    <li style="color: #0366d6;">...</li>
                    <li style="color: #0366d6;">...</li>

                </ul>
            </div>
            <div id="centent">


                <h2 style="font-weight: 400;"> {% block bt %}Public profile{% endblock bt %}</h2>
                {% block centent %}
                <table id="pub">
                    <tr>
                        <td>NickName:</td>
                        <td> <input style="width: 240px;" type="text" id="nickname" placeholder="{{nickname}}" value="{{nickname}}"></td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td> <input style="width: 240px;" type="text" id="age" value="{{age}}"></td>
                    </tr>
                    <tr>
                        <td><span style="color: gray">Account:</span></td>
                        <td><input style="width: 240px;" type="text" placeholder="{{username}}" disabled="true"
                                id="username" 　readOnly="true" value="{{username}}">
                        </td>
                    </tr>
                    <tr>
                        <td>Gender：</td>
                        <td><label>Boy
                                <input type="radio" name="gender" value="boy" id="gender">
                            </label>
                            <label>Girl
                                <input type="radio" name="gender" value="girl" id="gender">
                            </label>

                        </td>
                    </tr>
                    <tr>
                        <td>Birthday:</td>
                        <td><input style="width: 240px;" type="text" name="birthday" value="{{birthday}}" id="birthday" >
                        </td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td><select id="provinces" onchange="chinaChange(this,document.getElementById('city'));" style=" width:48%;
    height:30px;line-height:30px; ">
                                <option value="{{prov}}">请选择省份</option>
                                <option value="北京市">

                                    北京市 </option>
                                <option value="天津市">
                                    天津市 </option>
                                <option value="上海市">
                                    上海市 </option>
                                <option value="重庆市">
                                    重庆市 </option>
                                <option value="河北省">
                                    河北省 </option>
                                <option value="山西省">
                                    山西省 </option>
                                <option value="辽宁省">
                                    辽宁省 </option>
                                <option value="吉林省">
                                    吉林省 </option>
                                <option value="黑龙江省">
                                    黑龙江省</option>
                                <option value="江苏省">
                                    江苏省 </option>
                                <option value="浙江省">
                                    浙江省 </option>
                                <option value="安徽省">
                                    安徽省 </option>
                                <option value="福建省">
                                    福建省 </option>
                                <option value="江西省">
                                    江西省 </option>
                                <option value="山东省">
                                    山东省 </option>
                                <option value="河南省">
                                    河南省 </option>
                                <option value="湖北省">
                                    湖北省 </option>
                                <option value="湖南省">
                                    湖南省 </option>
                                <option value="广东省">
                                    广东省 </option>
                                <option value="海南省">
                                    海南省 </option>
                                <option value="四川省">
                                    四川省 </option>
                                <option value="贵州省">
                                    贵州省 </option>
                                <option value="云南省">
                                    云南省 </option>
                                <option value="陕西省">
                                    陕西省 </option>
                                <option value="甘肃省">
                                    甘肃省 </option>
                                <option value="青海省">
                                    青海省 </option>
                                <option value="台湾省">
                                    台湾省 </option>
                                <option value="广西壮族自治区">
                                    广西壮族自治区</option>
                                <option value="内蒙古自治区">
                                    内蒙古自治区</option>
                                <option value="西藏自治区">
                                    西藏自治区</option>
                                <option value="宁夏回族自治区">
                                    宁夏回族自治区 </option>
                                <option value="新疆维吾尔自治区">
                                    新疆维吾尔自治区</option>
                                <option value="香港特别行政区">
                                    香港特别行政区</option>
                                <option value="澳门特别行政区">
                                    澳门特别行政区</option>
                            </select>
                            <select name="city" id="city" style=" width:48%; height:30px;line-height:30px; ">
                                <option value="{{city}}">请选择市区</option>
                            </select></td>
                        <!-- <td><input style="width: 240px;" type="text" name="address" placeholder="请输入地址" id="address"> -->
                        </td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td><input style="width: 240px;" type="text" id="mail" value="{{email}}"></td>
                    </tr>
                    <tr>
                        <td>PhoneNumber:</td>
                        <td><input style="width: 240px;" type="text" id="phone_num" value="{{mobile_number}}">
                        </td>
                    </tr>
                    <tr>
                        <td id="per_sign_title">PersonalSignature：</td>

                        <td>
                            <textarea style="width: 240px;" name="" id="per_sign" cols="21" rows="5" >{{introduction}}</textarea>
                        </td>
                    </tr>
                </table>
                <div id=image>
                    <h4 style="font-weight: 500;">Profile picture</h4>
                    <!-- TODO 获取图片 -->
                    <br>
                    <div id="img_path">
                        <img src="http://127.0.0.1:8000/media/{{profile_head}}" alt="">
                    </div>
                    <br>
                    <input type="file" id="icon" maxlength="30">
                    <button id="avatar_btn">Upload</button>
                </div>
                <button id="per_btn">Submit</button>
                {% endblock centent %}
            </div>

        </div>
    </div>
    <div id="setFoot">
        <h2>感谢使用WebChat</h2>
    </div>
</body>

</html>