{% extends 'login.html' %}
{% load static %}
{% block block_card %}
<div class="signheader">
    <img src="{% static 'images/timg.jpeg' %}" alt="">
    <h1>Welcome to WebChat</h1>
    <h3>Create your account.</h3>
</div>
<div class="login-content">
    <form action="/verify/signup" method="POST">
        <label for="username"> Your Account</label><input type="text" name="username" id="username"
            value="{{username}}"> <span>{{ name_error }}</span>
        <label for="password">Password</label><input type="password" name="password" id="password">
        <span>{{ password_error }}</span>  <!--TODO 界面结构控制-->
        <br>
        <label for="password2"> Password Agin</label><input type="password" name="password2"
            id="password2"><span>{{ password_error }}</span>
        <label for="email">Email Address</label><input type="text" name="email" id="email"
            value="{{email}}"><span>{{ email_error }}</span>
        <div><label for="cell_verify">Cellphone Number</label></div>
        <input type="text" name="cell_verify" id="cell_verify"><input type="submit" value="Get code" id="get_code"
            name="get_code"><span>{{ code_error }}</span> <!--TODO添加输入验证码文本框-->
             <!--TODO  添加name属性-->
        <input type="submit" value="Create" class="login_submit" name="login_submit">
        <p class="register">Already have an account ? <a href="login" class="signup"> Sign in</a> </p>
    </form>
</div>
{% endblock block_card %}